<html>
<head>
    <title>Add Food</title>
</head>
<body class="container mt-5">
<h1>Add Food Item</h1>
<form method="POST" enctype="multipart/form-data">
<input type="text" name="food_name" placeholder="Food Name" class="form-control mb-3">
<input type="number" name="price" placeholder="Price" class="form-control mb-3">
<input type="text" name="category" placeholder="Category" class="form-control mb-3">
<label>Food Image:</label><br>
<input type="file" name="image"><br><br>
<button type="submit" class="btn btn-primary">Add Food</button>
</form>
</body>
</html>